.gameArea {
  border: 1px solid rgb(255, 255, 255);
  position: relative;
  width: 100%; 
  overflow: hidden; /** 子要素がはみ出さないように */
  box-sizing: border-box; /** パディングとボーダーを含めた幅を計算 */
  margin: 0 auto; /** 中央寄せ */
  background-image: url('/images/bg.jpg'); 
  background-size: cover;
  background-position: center; 
}
